<nav class="navbar navbar-inverse navbar-fixed-top header-menu" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"><span><img src="images/icon-48.png" alt="logo" class="logo"></span>Nor gara</a>
    </div>
  </div>
</nav>

<div class="container-fluid">
 <div class="row">
   <div class="col-xs-12">
      <h3>Zer da:</h3>
      <p>Larrabetzu eskura, telefono mugikorretarako  aplikazio bat da. Herriko informazioa eta ekitaldien agenda modu automatikoan eskaintzen ditu eskura <a href="http://larrabetzu.net" target="_blank">larrabetzu.net</a> gunean.</p>

      <h3>Zertarako:</h3>
      <p>Aplikazio honek eskura jartzen du gure herrian sortzen den informazio guztia. Informazio dinamikoa. Parte hartzera gonbidatzen zaitu, modu aktiboan. </p>

      <h3>Zelan erabiltzen da:</h3>
      <p>Erraza da. Deskargatu ostean, zure mugikorreko pantailan Larrabetzu aplikazioaren irudia izango duzu, ostean klik egiten duzun bakoitzean herriko informazioa edo kultur ekitaldi guztien berri izango duzu. </p>

      <h3>Zelan parte hartu:</h3>
      <p>Garrantzitsua da elkarteetako lagunek ere informazioa gehitzea aplikazioan, antolatzen den guztiaren berri emanez. Irudiak, deialdiak, orduak, lekua adieraziz.
    </p>
    
    <h3>Hurrengo geltokia:</h3>
    <p>Aplikazioa garatzen eta hobetzen jarraitu nahi dugu. Horretarako app hau zenbat eta gehiago erabili, zenbat eta parte hartze handiagoa izan... hobeto jakingo dugu gure beharrizanen gainean, eta horren arabera berritu eta hobetu ahal izango dugu. Guztion eskura dago. </p>
    
    <h3>Garapena:</h3>
    <p>2013ko urrian aurkeztu genuen sarean Eskura aplikazioa. <a href="http://www.ercillagorka.net/" target="_blank">Gorka Ercilla</a> eta <a href="http://www.gaztelumendi.org/" target="_blank">Patxi Gaztelumendiren</a> artean sortu genuen lehen bertsioa. Aurrerantzean bertsio hobetuak eta irekiak egiten jarraitzea da gure asmoa; gehiago ikusi, ikasi eta berrituz.</p>
    <p>2014ko ekainean <a href="https://twitter.com/sergixnet" target="_blank">Sergio Peñak</a> webApp bat garatu du eta sarean eskaini dugu plataforma guztietarako prestatuta: <a href="http://larrabetzu.net/app" target="_blank">larrabetzu.net/app</a> </p>
   </div>
 </div>
</div>